.text {
    opacity: 49%;
    margin-top: 30px;
    margin-left: 200px;
}

.icon {
    color: #4346DB;
}

.send {
    width: 263px;
    top: 50px;
    left: 200px;
}

.link {
    margin-top: 80px;
    margin-left: 200px;
}